In [236]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sidetable as stb

OVERVIEW THE DATASET

In [221]:
df_insurance = pd.read_csv("insurance.csv")
df_insurance.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [240]:
slicing_2

      age     sex     bmi  children smoker     region      charges
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
...   ...     ...     ...       ...    ...        ...          ...
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500

[1064 rows x 7 columns]

In [68]:
df_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [69]:
df_insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [251]:
bins= [0,18.49,24.9,30,100] 
labels = [
         'underweight',
         'healthy',
         'overweight',
         'obesity'
         ] 

df_insurance['bmi_class']= pd.cut(df_insurance['bmi'], bins=bins, 
labels=labels,include_lowest=False)

In [252]:

df_insurance.stb.freq(['bmi_class'], style = 'True')

## 1 Analytic Descriptive

In [70]:
##Rata Rata Umur Pengguna

df_insurance["age"].mean()

39.20702541106129

In [222]:
## Rata Rata Nilai BMI perokok
slicing_1 = df_insurance[(df_insurance['smoker']=='yes')]
slicing_1['bmi'].mean()

30.708448905109503

In [72]:
##Rata Rata Umur pada BMI Perokok
slicing_1['age'].mean()

38.51459854014598

In [73]:
##Rata Rata nilai BMI dari yang merokok
slicing_1['bmi'].mean()

30.708448905109503

In [244]:
##variansi data charge perokok
var_smoker = df_insurance[(df_insurance['smoker']=='yes')]
var_nosmoker = df_insurance[(df_insurance['smoker']=='no')]
print(var_smoker['charges'].var())
print(var_nosmoker['charges'].var())

133207311.20634921
35925420.49611172

In [170]:
## mencari smoker female
smoker_female = slicing_1[(slicing_1['age']>0) & (slicing_1['sex']=='female')].copy()
smoker_female

      age   sex     bmi  children smoker     region      charges
14     27  male  42.130         0    yes  southeast  39611.75770
19     30  male  35.300         0    yes  southwest  36837.46700
29     31  male  36.300         2    yes  southwest  38711.00000
30     22  male  35.600         0    yes  southwest  35585.57600
34     28  male  36.400         1    yes  southwest  51194.55914
...   ...   ...     ...       ...    ...        ...          ...
1301   62  male  30.875         3    yes  northwest  46718.16325
1303   43  male  27.800         0    yes  southwest  37829.72420
1304   42  male  24.605         2    yes  northeast  21259.37795
1307   32  male  28.120         4    yes  northwest  21472.47880
1321   62  male  26.695         0    yes  northeast  28101.33305

[159 rows x 7 columns]

In [172]:
##mencari smoker laki laki
smoker_male = slicing_1[(slicing_1['age']>0) & (slicing_1['sex']=='male')].copy()
smoker_male

      age   sex     bmi  children smoker     region      charges
14     27  male  42.130         0    yes  southeast  39611.75770
19     30  male  35.300         0    yes  southwest  36837.46700
29     31  male  36.300         2    yes  southwest  38711.00000
30     22  male  35.600         0    yes  southwest  35585.57600
34     28  male  36.400         1    yes  southwest  51194.55914
...   ...   ...     ...       ...    ...        ...          ...
1301   62  male  30.875         3    yes  northwest  46718.16325
1303   43  male  27.800         0    yes  southwest  37829.72420
1304   42  male  24.605         2    yes  northeast  21259.37795
1307   32  male  28.120         4    yes  northwest  21472.47880
1321   62  male  26.695         0    yes  northeast  28101.33305

[159 rows x 7 columns]

In [93]:
##rata rata umur perokok laki laki dan perempuan
print (smoker_male['age'].mean())
print (smoker_female['age'].mean())

38.44654088050314
38.608695652173914

In [100]:
##membuat view untuk orang orang tidak merokok 
slicing_2 = df_insurance[(df_insurance['smoker']== 'no')]
slicing_2['charges'].mean()

8434.268297856199

In [101]:
## rata rata charges orang orang tidak merokok
slicing_1['charges'].mean()

32050.23183153285

In [103]:
##Rata rata tagihan
print('berdasarkan data rata rata tagihan perokok lebih tinggi daripada yang tidak merokok')

berdasarkan data rata rata tagihan perokok lebih tinggi daripada yang tidak merokok

In [105]:
charge_smoke = slicing_1[(slicing_1['bmi']>25)]
charge_nonsmoke = slicing_2[(slicing_2['bmi']>25)]

In [108]:
print(charge_smoke['charges'].mean())
print(charge_nonsmoke['charges'].mean())
print('dari data tersebut tagihan untuk perokok lebih tinggi daripada tagihan non perokok')

35116.90965694065
8629.589609712148
dari data tersebut tagihan untuk perokok lebih tinggi daripada tagihan non perokok

In [117]:
male = df_insurance[(df_insurance['sex']=='male')]
female = df_insurance[(df_insurance['sex']!='male')]
print(female['bmi'].max())
print(male['bmi'].max())
print('dari data tersebut maka BMI yang lebih tinggi adalah laki laki')

48.07
53.13
dari data tersebut maka BMI yang lebih tinggi adalah laki laki

In [118]:
print(slicing_1['bmi'].max())
print(slicing_2['bmi'].max())
print('dari data tersebut maka BMI yang lebih tinggi adalah non perokok')

52.58
53.13
dari data tersebut maka BMI yang lebih tinggi adalah laki laki

## PMF

In [124]:
#1
female['charges'].sum()
print(male['charges'].sum())

print('tagihan paling tinggi adalah untuk gender male')

9434763.79614
tagihan paling tinggi adalah untuk gender male

In [176]:
#2 Peluan tagihan per region
peluang_tagihan_SE = 364/1337
peluang_tagihan_SE

0.27225130890052357

In [180]:
peluang_tagihan_SW = 325/1337
peluang_tagihan_SW

0.24308152580403888

In [181]:
peluang_tagihan_NW = 325/1337
peluang_tagihan_NW

0.24308152580403888

In [182]:
peluang_tagihan_NE = 324/1337
peluang_tagihan_NE

0.2423335826477188

In [131]:
df_insurance['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [130]:
#3
df_insurance['region'].value_counts()
print('tidak sama karena di southeast lebih banyak daripada yang lain')

tidak sama karena di southeast lebih banyak daripada yang lain

In [148]:
#4
slicing_1.value_counts()

age  sex     bmi     children  smoker  region     charges
18   female  21.660  0         yes     northeast  14283.45940    1
45   male    30.360  0         yes     southeast  62592.87309    1
46   male    42.350  3         yes     southeast  46151.12450    1
             30.495  3         yes     northwest  40720.55105    1
     female  35.530  0         yes     northeast  42111.66470    1
                                                                ..
31   male    29.810  0         yes     southeast  19350.36890    1
             34.390  3         yes     northwest  38746.35510    1
             36.300  2         yes     southwest  38711.00000    1
32   female  17.765  2         yes     northwest  32734.18630    1
64   male    36.960  2         yes     southeast  49577.66240    1
Length: 274, dtype: int64

In [147]:
slicing_2.value_counts()

age  sex     bmi     children  smoker  region     charges
19   male    30.590  0         no      northwest  1639.56310     2
48   male    30.200  2         no      southwest  8968.33000     1
     female  27.265  1         no      northeast  9447.25035     1
             27.360  1         no      northeast  9447.38240     1
             27.930  4         no      northwest  11015.17470    1
                                                                ..
31   male    20.400  0         no      southwest  3260.19900     1
             25.935  1         no      northwest  4239.89265     1
             26.885  1         no      northeast  4441.21315     1
             27.645  2         no      northeast  5031.26955     1
64   male    40.480  0         no      southeast  13831.11520    1
Length: 1063, dtype: int64

In [157]:
proposi_smoker = 1063/1337
proposi_smoker

0.7950635751682872

In [159]:
proposi_nosmoker = 274/1337
proposi_nosmoker

0.2049364248317128

In [160]:
#5
female_smoker.value_counts()

age  sex     bmi     children  smoker  region     charges
18   female  17.290  2         yes     northeast  12829.45510    1
45   female  30.495  1         yes     northwest  39725.51805    1
46   female  42.350  3         yes     southeast  46151.12450    1
             35.530  0         yes     northeast  42111.66470    1
             34.600  1         yes     southwest  41661.60200    1
                                                                ..
31   female  34.390  3         yes     northwest  38746.35510    1
             36.300  2         yes     southwest  38711.00000    1
             38.095  1         yes     northeast  58571.07448    1
32   female  17.765  2         yes     northwest  32734.18630    1
64   female  36.960  2         yes     southeast  49577.66240    1
Length: 274, dtype: int64

In [161]:
#5 peluang perempuan dan perokok

peluang_perempuan_peroko = 274/1063
peluang_perempuan_peroko

0.257761053621825

In [174]:
smoker_male.value_counts()

age  sex   bmi     children  smoker  region     charges
18   male  17.290  2         yes     northeast  12829.45510    1
47   male  29.800  3         yes     southwest  25309.48900    1
45   male  22.895  2         yes     northwest  21098.55405    1
           30.360  0         yes     southeast  62592.87309    1
           36.480  2         yes     northwest  42760.50220    1
                                                              ..
30   male  37.800  2         yes     southwest  39241.44200    1
31   male  25.900  3         yes     southwest  19199.94400    1
           29.810  0         yes     southeast  19350.36890    1
           34.390  3         yes     northwest  38746.35510    1
64   male  36.960  2         yes     southeast  49577.66240    1
Length: 159, dtype: int64

In [175]:
#6
peluang_cowo_perokok = 159/1063
peluang_cowo_perokok

0.1495766698024459

In [183]:
#7

southeast = df_insurance[(df_insurance['region']=='southeast')]
southwest = df_insurance[(df_insurance['region']=='southwest')]
northwest = df_insurance[(df_insurance['region']=='northwest')]
northeast = df_insurance[(df_insurance['region']=='northeast')]

print("PMF dari charge southeast: ")
[southeast['charges'].sum()/df_insurance['charges'].sum()]

PMF dari charge southeast:

[0.30208057164798174]

In [184]:
print("PMF dari charge southwest: ")
[southwest['charges'].sum()/df_insurance['charges'].sum()]

PMF dari charge southwest:

[0.22599651943564628]

In [185]:
print("PMF dari charge northwest: ")
[northwest['charges'].sum()/df_insurance['charges'].sum()]

PMF dari charge northwest:

[0.2272894669011652]

In [186]:
print("PMF dari charge northeast: ")
[northeast['charges'].sum()/df_insurance['charges'].sum()]

PMF dari charge northeast:

[0.24463344201520673]

## analisa variable kontinu

In [201]:
bmi25_a = df_insurance[(df_insurance['bmi']>25)&
                      (df_insurance['charges']>16700)]
bmi25_a

      age     sex     bmi  children smoker     region      charges   bmi_class
0      19  female  27.900         0    yes  southwest  16884.92400  overweight
9      60  female  25.840         0     no  northwest  28923.13692  overweight
11     62  female  26.290         0    yes  southeast  27808.72510  overweight
14     27    male  42.130         0    yes  southeast  39611.75770       obese
19     30    male  35.300         0    yes  southwest  36837.46700       obese
...   ...     ...     ...       ...    ...        ...          ...         ...
1313   19  female  34.700         2    yes  southwest  36397.57600       obese
1318   35    male  39.710         4     no  northeast  19496.71917       obese
1321   62    male  26.695         0    yes  northeast  28101.33305  overweight
1323   42  female  40.370         2    yes  southeast  43896.37630       obese
1337   61  female  29.070         0    yes  northwest  29141.36030  overweight

[283 rows x 8 columns]

In [202]:
bmi25_b = df_insurance[(df_insurance['bmi']<25)&
                      (df_insurance['charges']<16700)]
bmi25_b

,age,sex,bmi,children,smoker,region,charges,bmi_class
15,19,male,24.600,1,no,southwest,1837.23700,healthy
17,23,male,23.845,0,no,northeast,2395.17155,healthy
26,63,female,23.085,0,no,northeast,14451.83515,healthy
28,23,male,17.385,1,no,northwest,2775.19215,underweight
35,19,male,20.425,0,no,northwest,1625.43375,healthy
...,...,...,...,...,...,...,...,...
1292,21,male,23.210,0,no,southeast,1515.34490,healthy
1295,20,male,22.000,1,no,southwest,1964.78000,healthy
1302,25,female,20.800,1,no,southwest,3208.78700,healthy
1306,29,female,21.850,0,yes,northeast,16115.30450,healthy
1316,19,female,20.600,0,no,southwest,1731.67700,healthy

In [203]:
smoke_bmi25a = slicing_1[(slicing_1['bmi']>25)&
                      (slicing_1['charges']>16700)]
smoke_bmi25a

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
14     27    male  42.130         0    yes  southeast  39611.75770
19     30    male  35.300         0    yes  southwest  36837.46700
23     34  female  31.920         1    yes  northeast  37701.87680
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1321   62    male  26.695         0    yes  northeast  28101.33305
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[215 rows x 7 columns]

In [205]:
smoke_bmi25b = slicing_2[(slicing_2['bmi']>25)&
                      (slicing_2['charges']>16700)]
smoke_bmi25b

      age     sex     bmi  children smoker     region      charges
9      60  female  25.840         0     no  northwest  28923.13692
45     55    male  37.300         0     no  southwest  20630.28351
102    18  female  30.115         0     no  northeast  21344.84670
115    60    male  28.595         0     no  northeast  30259.99556
138    54  female  31.900         3     no  southeast  27322.73386
...   ...     ...     ...       ...    ...        ...          ...
1195   19  female  27.930         3     no  northwest  18838.70366
1206   59  female  34.800         2     no  southwest  36910.60803
1211   39    male  34.100         2     no  southeast  23563.01618
1258   55    male  37.715         3     no  northwest  30063.58055
1318   35    male  39.710         4     no  northeast  19496.71917

[68 rows x 7 columns]

In [249]:
charges_overweight = df_insurance[(df_insurance['bmi']>25)]
charges_overweight['charges'].sum()

15215605.354539

In [250]:
charges_underweight = df_insurance[(df_insurance['bmi']<25)]
charges_underweight['charges'].sum()

2519144.99622

## Analisa Korelasi

In [207]:
np.corrcoef(df_insurance['charges'], df_insurance['bmi'])

array([[1.        , 0.19834097],
       [0.19834097, 1.        ]])

In [217]:
np.corrcoef(df_insurance['charges'], df_insurance['children'])

array([[1.        , 0.06799823],
       [0.06799823, 1.        ]])

In [210]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoder.fit(df_insurance['smoker'])
df_insurance['smoker_enc']= encoder.transform(df_insurance['smoker'])

In [213]:
corr = df_insurance['charges'].corr(df_insurance['smoker_enc'])
print("corelation charges with smoker",corr)

corelation charges with smoker 0.7872514304984785

In [214]:
encoder.fit(df_insurance['sex'])
df_insurance['sex_enc']=encoder.transform(df_insurance['sex'])

In [216]:
corr2 = df_insurance['charges'].corr(df_insurance['sex_enc'])
print("corelation charges with gender",corr2)

corelation charges with gender 0.05729206220202527

In [220]:
corr4 = df_insurance['charges'].corr(df_insurance['bmi'])
corr4

0.1983409688336288